{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <div class="container" 
            style="display: grid; place-items:center; padding:100px; 
            border-radius: 20px; margin-top: 20px; margin-bottom: 20px;
            background-color: rgb(59, 59, 59); color: whitesmoke;">

        <h1>Profile page</h1>
        {% if request.user.is_authenticated %}
            <div class="card" style="width: 18rem; color: black;">
                <img src="/media/{{ request.user.profile.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Username: {{ request.user.profile.user }}</h5>
                <p class="card-text">Phone: {{ request.user.profile.phone }}</p>
                <p class="card-text">Address: {{ request.user.profile.address }}</p>
                </div>

                <!-- Button trigger modal -->
                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#update">
                    Launch demo modal
                </a>
                
                <!-- Modal -->
                <div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <span>{{ request.user.profile.user }}-{{request.user.profile.id}}</span>
                        <form method="POST" action="../{{request.user.profile.id}}/">
                            {% csrf_token %}
                            <label for="">phone</label><br>
                            <input type="number" name="phone" id="" value="{{ request.user.profile.phone }}"><br><br>
                            <label for="">address</label><br>
                            <input type="text" name="address" id="" value="{{ request.user.profile.address }}"><br>

                            <div class="modal-footer">
                                <input class="btn btn-success" type="submit" value="submit">
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
  
            </div>
        {% endif %}
    </div>

{% endblock %}