{% extends 'base.html' %}
{% block title %}
    <title>Buscar</title>
{% endblock %}
{% block content %}
    <style>
        .containerCard{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            padding:30px 0px;
        }
        .card:hover{transform: scale(1.1);}
        a:hover{text-decoration: none;}
        a{color: black;}
    </style>
    <section class="container">
        {% if wines %}
            <div class="container containerCard">

                {% for wine in wines %}

                    <div class="card" style="width: 230px;">
                        <a href="../../../wines/detail/{{wine.id}}/">
                            <img src="{{ wine.image.url }}" class="card-img-top" alt="image{{wine.name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{ wine.name }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Price: $ {{ wine.price }}</li>
                            </ul>
                        </a>
                    </div>
                {% endfor %}
            </div>
        
        {% else %}
            <p>There are no listed wines yet.</p>
        {% endif %}

    </section>
{% endblock %}