{% extends 'base.html' %}

{% block title %}
    About us
{% endblock %}


{% block content %}
<style >
    .about{
        margin: 30px 10px;
        background-color: rgb(215, 215, 215); 
        
        padding: 30px 0px;
        border-radius: 10px;
    }
    .about h1{
        text-align: center;
    }
    .carousel{
        margin-bottom: 40px;
    }
    .containerInfo{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .img{
        background-color: aqua;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        height: 400px;
    }
    .content{
        background-color: rgb(59, 59, 59); 
        color: whitesmoke;
        width: 60%;
        height: 400px;
        padding: 30px;
    }

    .content p{
        padding: 10px 0px;
    }
</style>
<section class="container">
    <div class="about">

        <h1>About Us</h1><br>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner bg-secondary">
    
                <div class="carousel-item active">
                    <div class="containerInfo d-block w-100" >
    
                        <div class="img" style="background-image: url(/media/lucia.jpeg);"></div>
                        <div class="content">
                            <h2>Lucía Gómez Salinas</h2>
                            <p>Soy estudiante de la tecnicatura de analisis de sistema y diseñadora gráfica. Trabaje más de 10 años en el área de diseño y actualmente trabajo en una empresa en el sector de Data, hace un año.</p>
                            <a href="https://www.linkedin.com/in/luciadgsalinas/" target="_blank" class="btn btn-primary">LinkedIn</a>
                            <a href="https://github.com/luciadgsalinas" target="_blank" class="btn btn-light">GitHub</a>
                        </div>
    
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="containerInfo d-block w-100" >
                        <div class="img " style="background-image: url(/media/Manuel.jpeg);"></div>
                        <div class="content ">
                            <h2>Manuel Florez</h2>
                            <p>Soy Ingeniero de Sistemas graduado en 2018 en la Fundacion Universitaria Tecnologico Comfenalco de Cartagena de Indias, Colombia. Continúo estudiando en CoderHouse la carrera de Desarrollo FullStack y participando como desarrollador en InkuA. </p>
                            <a href="https://www.linkedin.com/in/manuel14mds/" target="_blank" class="btn btn-primary">LinkedIn</a>
                            <a href="https://github.com/manuel14mds" target="_blank" class="btn btn-light">GitHub</a>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="containerInfo d-block w-100 " >
                        <div class="img " style="background-image: url(/media/Pablo_Segovia.jpg);"></div>
                        <div class="content">
                            <h2>Pablo Segovia</h2>
                            <p>Ingeniero Químico actualmente formándome en Desarrollo Python y Bases de Datos.
                                Enfocado en impulsar un cambio profesional orientado hacia áreas de Desarrollo, Programación, Data Science y Gestión de Proyectos entre otras. 
                                Poseo más de 8 años de experiencia en ingeniería de procesos, tanto para industrias continuas como en lote.
                                A lo largo de mi trayectoria logré adquirir amplio know how en optimización de la producción, análisis estadísticos, vinculación de variables, detección de causas raíz y mejora integral de procesos. 
                                Me considero una persona con gran capacidad analítica, aptitudes para la resolución de problemáticas en escenarios de alta complejidad y visión estratégica 360° del negocio.</p>
                            <a href="https://www.linkedin.com/in/luispablosegovia/" target="_blank" class="btn btn-primary">LinkedIn</a>
                            <a href="https://github.com/manoloacademia/" target="_blank" class="btn btn-light">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

</section>

{% endblock %}