{% extends 'base.html' %}

{% block title %}
    About us
{% endblock %}


{% block content %}

<h1>About Us</h1><br>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Lucía Gómez Salinas</h5>
    <p class="card-text">My Description</p>
    <a href="#" class="btn btn-primary">LinkedIn</a>
    <a href="#" class="btn btn-dark">GitHub</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Manuel Florez</h5>
    <p class="card-text">My Description</p>
    <a href="#" class="btn btn-primary">LinkedIn</a>
    <a href="#" class="btn btn-dark">GitHub</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="/media/Pablo_Segovia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Pablo Segovia</h5>
    <p class="card-text">Chemical Engineer currently training in Python Development and Databases. Focused on promoting a professional change oriented towards the areas of Development, Programming, Data Science and Project Management, among others. I have more than 8 years of experience in Process Engineering, both for continuous and batch industries. Throughout my career I managed to acquire extensive know-how in production optimization, statistical analysis, variable linkage, root cause detection and comprehensive process improvement. I consider myself a person with great analytical capacity, aptitude for solving problems in highly complex scenarios and a 360° strategic vision of the business.</p>
    <a href="https://www.linkedin.com/in/luispablosegovia/" target="_blank" class="btn btn-primary">LinkedIn</a>
    <a href="https://github.com/manoloacademia/" target="_blank" class="btn btn-dark">GitHub</a>
    </div>
</div>

{% endblock %}