
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">WineStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar navbar-dark bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wines">All Wines</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wine_create' %}">Add Wine</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/varietal/varietal/">Varietal</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/varietal/addVarietal/">Add Varietal</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/winery/wineries/">Winery</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/winery/addWinery/" style="margin-right: 200px ;">Add Winery</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="#about_us">About Us</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout/">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register/">Register</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Try a wine name" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}


    <section>
        <div class="container d-flex flex-row justify-content-between align-items-center bg-secondary"
        style="height: 450px;">
            <a class="item" href="#">
                <img style="width:350px" src="https://www.thespruceeats.com/thmb/Z6Q_Dfy2jlBi4_K0saTn3z3Hgko=/3840x3840/smart/filters:no_upscale()/red-wine-is-poured-into-a-glass-from-a-bottle--light-background--1153158143-98320451802c485cb6d7b5437c7fd60a.jpg" alt="">
            </a>
            <a class="item" href="#">
                <img style="width:350px" src="https://www.ikea.com/au/en/images/products/storsint-white-wine-glass-clear-glass__0618070_pe688325_s5.jpg?f=s" alt="">
                
            </a>
            <a class="item" href="#">
                <img style="width:350px" src="https://i.guim.co.uk/img/media/a911cc22cdc4e42be5912ec7fc2cb3d6eeb0cea3/0_374_1827_1627/master/1827.jpg?width=620&quality=85&fit=max&s=8da4114fc9c7d7184c9eed80abc2f68f" alt="">
            </a>
        </div>
    </section>

    <footer>
        <div class="container-fluid bg-dark text-white d-flex justify-content-center align-items-center" style="height: 100px;">
            <p class="container" style="text-align: center;">This project has been depeloved by Lucia Gomez Salinas, Luis Pablo Segovia and Manuel Florez.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>

</html>